/* PC버전 */
@media (min-width: 1280px) {
  /* HEADER */
  #logo a {
    font-size: 3rem;
  }
  #gnb li {
    width: 10%;
  }
  /* HEADER */

  /* MAIN BANNER */
  #main_banner {
    height: 90vh;
  }

  /* MAIN BANNER */

  /* MAIN WEEKLY PRODUCT */
  .main_weekly_filter {
    height: 93%;
  }
  /* MAIN WEEKLY PRODUCT */

  /* MAIN KEYWORD */
  /* MAIN KEYWORD */

  /* MAIN NEW PRODUCT */
  .main_new_product_side h1 {
    font-size: 3rem;
  }
  /* MAIN NEW PRODUCT */

  /* MAIN ICON */
  /* MAIN ICON */

  /* MAIN ENVIRONMENT */
  #main_environment_content {
    width: 100%;
    display: grid;
    grid: repeat(2, minmax(500px, 1fr)) / repeat(2, minmax(200px, 1fr));
  }
  .main_environment_txt p {
    font-size: 1.2rem;
  }
  .main_environment_txt h1 {
    font-size: 4.5rem;
  }
  .main_environment_txt button {
    font-size: 1.2rem;
  }
  /* MAIN ENVIRONMENT */

  /* MAIN CAMPAIGN */
  #main_campaign_content h1 {
    font-size: 2rem;
  }
  #main_campaign_content p {
    font-size: 1.4rem;
  }
  #main_compaign_video {
    margin-top: 15vh;
  }
  /* MAIN CAMPAIGN */

  /* MAIN EMAIL */

  #main_email_content,
  #main_email_formgroup {
    padding-top: 15vh;
  }
  #main_email_txtgroup h1 {
    font-size: 2.5rem;
  }
  .main_email_txt h3 {
    font-size: 1.3rem;
  }
  .main_email_txt p {
    font-size: 1rem;
  }
  .main_email_txt p:nth-child(2) {
    font-size: 1.3rem;
  }
  #main_email_form input:nth-child(4) {
    height: 40vh;
    vertical-align: top;
  }
  #main_email_form button {
    height: 5vh;
    font-size: 1.2rem;
  }
  /* MAIN EMAIL */

  /* FOOTER */
  /* FOOTER */
}
