@charset "UTF-8";
/* common */
@font-face {
  font-family: "wargate";
  src: url("../common/Wargate-Normal.ttf") format("truetype");
}
body {
  /* Wargate */
  font-family: Noto Sans KR, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.wargate_font {
  font-family: wargate, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: bold; */
}

/* header */
header {
  background-color: #000;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}
#logo {
  width: 20%;
  font-size: 2.5rem;
  padding-left: 1vw;
  text-transform: uppercase;
}
#logo a {
  color: #fff;
}
#gnb {
  display: flex;
  width: 65%;
  justify-content: flex-end;
  position: relative;
}
#gnb li {
  width: 18%;
}
#gnb li a {
  display: block;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
#gnb > li:nth-child(1) > a:hover {
  color: #fed206;
}
#gnb > li:nth-child(2) > a:hover {
  color: #1cff59;
}
#gnb > li:nth-child(3) > a:hover {
  color: #ff4eff;
}

#work_list_gnb {
  display: none;
}
#work_list.line {
  position: relative;
}
header.line::after {
  content: "";
  width: 100%;
  height: 50px;
  background-color: #000;
  border-top: #fff solid 1px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 0;
}
#work_list_gnb.line {
  display: block;
  display: flex;
  position: absolute;
  top: 45px;
  left: 0;
  height: 50px;
  background-color: #000;
  border-top: #fff solid 1px;
  z-index: 2;
}
#work_list_gnb li.line {
  width: 215px;
  position: relative;
}
#work_list_gnb li a.line {
  font-size: 1.5rem;
  display: block;
  color: #fed206;
  line-height: 45px;
}
#work_list_gnb li.linestyle::after {
  content: "";
  width: 50%;
  border: #fed206 solid 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#work_list_gnb li a.line:hover {
  color: #fed206;
}

#register {
  width: 15%;
  padding-right: 1vw;
  text-align: right;
}
#register img {
  width: 35px;
  margin-left: 1vw;
}

/* send mail */
#main_send_email {
  height: 70px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
#main_send_email h1 {
  font-size: 2.2rem;
  font-weight: bold;
  padding-left: 1vw;
}
#enter_email {
  background-color: #dfdfdf;
  line-height: 2;
  width: 40%;
  height: 50px;
  border: none;
  margin-left: 2vw;
  text-indent: 10px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

/* footer */
footer {
  background-color: #000;
  height: 20vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
}
#left_content {
  font-size: 2.5rem;
}
#right_content {
  font-size: 1.3rem;
}
#right_content h3 {
  margin: 2vh;
}
